<!DOCTYPE html>
<html>
  <head>
    <title>Galleria</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_pack_tag 'Index' %>
  </head>

  <body>
    <%= yield %>

    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
  </body>
</html>
